.ContrastCalc {
  position: relative;
}

.Preview {
  width: 180px;
  height: 180px;
  background-color: var(--bg);
  color: var(--fg);
  position: relative;
  border-radius: env(--radius-8);
  border: 2px solid var(--dimmed-2);
}

.Badge {
  padding: env(--space-8) env(--space-16);
  border-radius: env(--radius-4);

  @nest .ContrastCalc[data-contrast-calc-valid='true'] & {
    background-color: var(--highlight-green-background);
    color: var(--highlight-green-foreground);
  }
  @nest .ContrastCalc[data-contrast-calc-valid='false'] & {
    background-color: var(--highlight-red-background);
    color: var(--highlight-red-foreground);
  }
}
