@import '@wonderflow/react-components/core/media.css';

.LiveArea {
  padding: env(--space-16) env(--space-40);
  border-radius: env(--radius-8);
  background-image: radial-gradient(var(--dimmed-3) 0.9px, transparent 0.9px);
  background-size: 18px 18px;
  min-block-size: env(--space-200);
  max-block-size: var(--maxHeight);
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  overflow: auto;
  block-size: 100%;

  @media (--from-medium) {
    padding: env(--space-16) env(--space-120);
  }
}
