html {
  scroll-behavior: smooth;
  scroll-padding: env(--space-80);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &[id] {
    position: relative;
  }
}

.HeadingAnchor {
  position: absolute;
  font-size: env(--font-size-16);
  right: calc(100% + env(--space-8));
  top: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border-radius: env(--radius-8);
  background-color: hsl(env(--color-cyan-0));
  color: hsl(env(--color-cyan-70));
  padding-bottom: 1px;
}
