.Props {
  position: relative;
}

.PropName {
  display: block;
  inline-size: 120px;
}

.PropsValue {
  padding: 0;
  list-style: none;

  & code {
    background-color: var(--highlight-gray-background);
    color: var(--highlight-gray-foreground);
  }
}

.Props summary small code {
  background-color: var(--highlight-cyan-background);
  color: var(--highlight-cyan-foreground);
}
