html {
  scroll-padding: env(--space-80);
  background-color: revert;

  &[data-html-smooth='true'] {
    scroll-behavior: smooth;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &[id] {
    position: relative;
  }
}

:is(h2, h3, h4)[id] {
  & > a {
    display: inline-flex;
    margin-left: env(--space-16);
    background-image: none;
    vertical-align: middle;
  }

  & .HeadingAnchor {
    font-size: env(--font-size-16);
    right: calc(100% + env(--space-8));
    top: 0;
    inline-size: 24px;
    block-size: 24px;
    visibility: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border-radius: env(--radius-8);
    background-color: var(--highlight-cyan-background);
    color: var(--highlight-cyan-foreground);
    padding-bottom: 1px;
  }

  &:hover,
  &:focus-within {
    & .HeadingAnchor {
      visibility: visible;
    }
  }
}


img {
  border-radius: env(--radius-4);
}

