.ContainerEx {
  background-color: hsl(env(--color-primary-50) / 20%);
  min-block-size: env(--space-24);
}


.ContainerEx[data-container-dimension='small'] {
  box-shadow:
    inset env(--space-16) 0 0 hsl(env(--color-support-brand) / 60%),
    inset calc(env(--space-16) * -1) 0 0 hsl(env(--color-support-brand) / 60%);
}

@media (min-width: 48em) {
  .ContainerEx[data-container-dimension='small'] {
    box-shadow:
      inset env(--space-32) 0 0 hsl(env(--color-support-brand) / 60%),
      inset calc(env(--space-32) * -1) 0 0 hsl(env(--color-support-brand) / 60%);
  }
}

.ContainerEx[data-container-dimension='medium'] {
  box-shadow:
    inset env(--space-16) 0 0 hsl(env(--color-support-brand) / 60%),
    inset calc(env(--space-16) * -1) 0 0 hsl(env(--color-support-brand) / 60%);
}

@media (min-width: 48em) {
  .ContainerEx[data-container-dimension='medium'] {
    box-shadow:
      inset env(--space-32) 0 0 hsl(env(--color-support-brand) / 60%),
      inset calc(env(--space-32) * -1) 0 0 hsl(env(--color-support-brand) / 60%);
  }
}

.ContainerEx[data-container-dimension='large'] {
  box-shadow:
    inset env(--space-16) 0 0 hsl(env(--color-support-brand) / 60%),
    inset calc(env(--space-16) * -1) 0 0 hsl(env(--color-support-brand) / 60%);
}

@media (min-width: 48em) {
  .ContainerEx[data-container-dimension='large'] {
    box-shadow:
      inset env(--space-32) 0 0 hsl(env(--color-support-brand) / 60%),
      inset calc(env(--space-32) * -1) 0 0 hsl(env(--color-support-brand) / 60%);
  }
}

.ContainerEx[data-container-dimension='full'] {
  box-shadow:
    inset env(--space-16) 0 0 hsl(env(--color-support-brand) / 60%),
    inset calc(env(--space-16) * -1) 0 0 hsl(env(--color-support-brand) / 60%);
}

@media (min-width: 48em) {
  .ContainerEx[data-container-dimension='full'] {
    box-shadow:
      inset env(--space-32) 0 0 hsl(env(--color-support-brand) / 60%),
      inset calc(env(--space-32) * -1) 0 0 hsl(env(--color-support-brand) / 60%);
  }
}

.ContainerEx[data-container-padding='false'] {
  box-shadow: none;
}

/* stylelint-disable */

/* Main dropdown wrapper */
.algolia-autocomplete .ds-dropdown-menu {
  min-width: 100% !important;
  max-height: 60vh !important;
  overflow: auto;
  border: 1px solid var(--dimmed-1) !important;
  box-shadow: none !important;
}

.algolia-autocomplete .ds-dropdown-menu [class^='ds-dataset-'],
.algolia-autocomplete .ds-dropdown-menu::before {
  background-color: var(--dimmed-0);
  border: none;
}

.ds-dropdown-menu {
  margin-top: env(--space-24) !important;

  &::before {
    display: none !important;
  }
}


.algolia-docsearch-suggestion {
  background: none !important;
}

.algolia-docsearch-suggestion--wrapper {
  display: flex;
  flex-direction: column;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion.suggestion-layout-simple,
.algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion:not(.suggestion-layout-simple) .algolia-docsearch-suggestion--content {
  background-color: var(--dimmed-1);
}

.algolia-docsearch-suggestion--content {
  padding: env(--space-8) env(--space-32) env(--space-8) env(--space-56)!important;
  width: 100% !important;
  border-radius: env(--radius-8);
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  flex-direction: column !important;

  &::before {
    content: '⮑' !important;
    width: auto !important;
    display: inline-block !important;
    height: auto !important;
    background: none !important;
    color: var(--highlight-red-foreground);
    padding: 8px 16px;
  }
}

/* Main category (eg. Getting Started) */
.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  border-bottom-color: var(--dimmed-2);
  color: var(--global-foreground);
  font-weight: 600;
}


.algolia-autocomplete .algolia-docsearch-suggestion--content::before {
  background-color: var(--dimmed-2);
}

/* Category (eg. Downloads) */
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  color: var(--dimmed-7) !important;
  text-align: left !important;
  padding-left: 0 !important;
  width: auto !important;

  &::before {
    display: none;
  }
}

.algolia-docsearch-suggestion--subcategory-column-text {
  color: var(--dimmed-5);
  font-weight: 600;
  font-size: env(--font-size-14);
}

/* Title (eg. Bootstrap CDN) */
.algolia-autocomplete .algolia-docsearch-suggestion--title {
  font-weight: bold;
  width: 100%;
  font-size: env(--font-size-18);
  color: var(--global-foreground);
}

/* Description description (eg. Bootstrap currently works...) */
.algolia-autocomplete .algolia-docsearch-suggestion--text {
  font-size: 0.8rem;
  width: 100%;
  color: var(--dimmed-6);
}

/* Highlighted text */
.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  color: var(--global-interactive-text);
  background: none;
}

.algolia-docsearch-footer {
  display: none;
}
