.Toolbar {
  padding: env(--space-8) env(--space-24);
  color: var(--global-vibrancy-foreground);
  backdrop-filter: blur(32px);
  background-color: var(--global-background);
  border-bottom: 1px solid var(--dimmed-2);

  @supports (backdrop-filter: blur(1px)) {
    background-color: hsl(env(--color-support-black) / 60%);
  }
}
