@import '@wonderflow/react-components/core/media.css';
@import '@wonderflow/react-components/core/vibrancy.css';

.PostCard {
  --dot-color: var(--dimmed-4);

  counter-increment: post-counter;
  position: relative;
  border-radius: env(--radius-8);
  background-image:
    linear-gradient(to bottom right, var(--dimmed-0), hsl(env(--color-primary-80) / 0%)),
    radial-gradient(var(--dot-color) 0.9px, transparent 0.9px);
  background-size: 100%, 27px 27px;


  &:where(:hover, :focus-within) {
    --dot-color: var(--dimmed-6);
  }

  & a {
    color: var(--global-foreground);
    background: none;
    cursor: pointer;
  }

  &::before {
    content: counters(post-counter, '.', decimal-leading-zero);
    position: absolute;
    bottom: 0;
    right: -2.8rem;
    display: none;
    color: var(--dimmed-6);
    opacity: 10%;
    line-height: 1;
    font-size: 7rem;
    font-weight: 100;
    transition: all 200ms;

    @media (--from-medium) {
      display: block;
    }
  }

  &:where(:hover, :focus-within)::before {
    color: var(--c);
    opacity: 100%;
  }
}

.Authors {

  @mixin vibrancy;

  padding: env(--space-8);
  border-radius: 100px;
  position: absolute;
  transform: translateY(50%);
  bottom: 0;
}
