@import '@wonderflow/react-components/core/media.css';

.PostCard {
  position: relative;
  cursor: default;
  border-radius: env(--radius-8);


  &:where(:hover, :focus-within) {
    background-image: radial-gradient(var(--dimmed-4) 0.9px, transparent 0.9px);
    background-size: 29px 29px;
  }

  & a {
    color: var(--global-foreground);
    background: none;

    & > * {
      pointer-events: none;
    }
  }

  &::before {
    counter-increment: post-counter;
    position: absolute;
    bottom: 0;
    right: -2.8rem;
    display: none;
    color: var(--dimmed-6);
    opacity: 10%;
    line-height: 1;
    font-size: 7rem;
    font-weight: 100;
    transition: all 200ms;
    content: counters(post-counter, '.', decimal-leading-zero);

    @media (--from-medium) {
      display: block;
    }
  }

  &:where(:hover, :focus-within)::before {
    color: var(--c);
    opacity: 100%;
  }
}
