@import '@wonderflow/react-components/core/utils/media.css';

.SearchModal {
  padding: env(--space-24);
  max-inline-size: 70ch;
  max-block-size: 100vh;
  block-size: 100vh;
  overflow: auto;

  @media (--from-extra-small) {
    max-inline-size: 100ch;
  }
}

.Links {
  min-height: 40vh;
}
