
.Disclosure {
  display: block;
  position: relative;
  transform: translateZ(0);
  z-index: 0;

  & * {
    box-sizing: border-box;
  }
}

.Summary {
  display: list-item;
  touch-action: manipulation;
  position: relative;
  padding: env(--space-2) 0;
  padding-right: env(--space-48);
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline-offset: -2px;

  @nest .Disclosure[data-disclosure-icon-position='left'] & {
    padding-left: env(--space-48);
  }

  &::marker {
    content: '';
  }

  &::-webkit-details-marker {
    display: none;
  }
}

.ExpandIcon {
  content: '';
  transform-box: fill-box;
  position: absolute;
  top: 50%;
  right: env(--space-16);
  transform: translateY(-50%) rotate(180deg);
  transition: transform env(--duration-100) env(--easing-standard);
  transform-origin: 50% center;

  @nest .Disclosure[data-disclosure-icon-position='left'] & {
    left: env(--space-16);
    right: auto;
  }
  @nest .Disclosure[open] & {
    transform: translateY(-50%);
  }
}


.Content {
  box-sizing: border-box;

  &[data-disclosure-padding='true'] {
    padding: 0 env(--space-4);
  }

  &[data-disclosure-height='true'] {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    max-block-size: var(--maxHeight);
    overflow: auto;
  }
}
