@import '@wonderflow/react-components/core/media.css';

.CodeBlock {
  position: relative;
  font-size: 0.9em;
  font-family: env(--font-family-mono);
  white-space: pre;

  @media (--from-small) {
    font-size: 1em;
  }
}

.Code {
  overflow: auto;
  border-radius: env(--radius-8);
  white-space: pre-wrap;
  padding: 28px env(--space-24) env(--space-24);
}

.Action.Action {
  position: absolute;
  top: env(--space-8);
  right: env(--space-8);
  color: hsl(env(--color-support-white));
}
