@import '@wonderflow/react-components/core/media.css';

.CodeBlock {
  position: relative;
  font-family: env(--font-family-mono);
  margin: env(--space-32) 0;

  @media (--from-small) {
    font-size: 1em;
  }

  &[data-code-block-has-highlight='true'] [data-code-block-highlight='false'] {
    opacity: 0.5;
    filter: saturate(0.5);
    user-select: none;
  }
}

.Code {
  overflow: auto;
  border-radius: env(--radius-8);
  font-size: env(--font-size-18);
  padding: env(--space-64) env(--space-24) env(--space-24);
}

.Toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: env(--space-8) env(--space-8);
  background-color: hsl(env(--color-primary-80));
  border-radius: env(--radius-8) env(--radius-8) 0 0;
  color: hsl(env(--color-primary-20));
}

.Action.Action {
  color: hsl(env(--color-support-white));
}
