.Tree {
  font-size: env(--font-size-16);

  & ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  & summary {
    padding-left: env(--space-24);
  }

  & details ul {
    padding-left: env(--space-24);
    margin-top: env(--space-8);
  }
}

.Title {
  text-transform: uppercase;
  padding: 0 env(--space-24);
}

.Li {
  & > a {
    padding: 0 env(--space-24);
    background: none;
    font-weight: 600;
    display: block;
    outline-offset: -2px;
    color: var(--global-foreground);
  }

  @nest details & a {
    font-weight: 400;
  }

  & > *[aria-current='page'] {
    color: var(--cta-default);
  }

  /* Stupid Safari fix
   * https://developer.mozilla.org/en-US/docs/Web/CSS/list-style#accessibility_concerns
   */
  &::before {
    position: absolute;
    content: '\200B';
  }
}
